extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
  +alert-success(5000)
  +alert-error(5000)
  .container.my-3
    .row
      .col-8.mx-auto
        +box-head(pageTitle)

        form(
          action="/user/password/reset"
          method="POST"
        )
          div(class="form-group")
            label(for="password") Mật khẩu mới
            input(
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            )
          div(class="form-group")
            label(for="confirmPassword") Xác nhận mật khẩu mới
            input(
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              required
            )
          div(class="form-group")
            button(
              type="submit"
              class="btn btn-primary btn-block"
            ) Đổi mật khẩu